<ion-item>
  <ion-label>Occurrence Type:</ion-label>
  <ion-select placeholder="Select" [(ngModel)]="selectedOccurrenceType" (ionChange)="selectOccurrenceType()">
    <ion-select-option *ngFor="let type of availableOccurrenceTypes" [value]="type">{{type}}</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-label *ngIf="!dataLoading" >{{selectedFileFullPath}}</ion-label>
  <ion-spinner *ngIf="dataLoading" name="crescent"></ion-spinner>
</ion-item>
<!--div class="xml-entity-grid">
  <div class="table-container">
    <div class="occurrence-table">
      <div id="occurrence_table" class="hot handsontable htRowHeaders htColumnHeaders occurrence-table"></div>
    </div>
  </div>
</div-->
<div class="occ-grid" *ngIf="!dataLoading && selectedXmlOccurrences">
  <ag-grid-angular
    style="width: 100%; height: 100%;"
    class="ag-theme-alpine"
    [rowData]="selectedXmlOccurrences"
    [columnDefs]="occColumns"
    [defaultColDef]="defaultColDef"
    [quickFilterText]="filter"
    >
  </ag-grid-angular>
</div>
