<div class="pub-toc-container">
  <div class="pub-container">
    <div cdkDropList [cdkDropListData]="publicationData[0]"
      [id]="'main'" [cdkDropListConnectedTo]="dropPubTargetIds"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListSortingDisabled]="true">

      <div *ngFor="let pub of publicationData[0]" cdkDrag [cdkDragData]="pub.id" (cdkDragMoved)="dragMoved($event)">
        <div class="node-item" [attr.data-id]="pub.id" [attr.id]="'pub-'+pub.id">
          <div class="node-title" >
             {{pub.name}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="toc-container">
    <ng-template #tmplNode let-node="node">
      <div class="node-item" [attr.data-id]="node.id" [attr.id]="'node-'+node.id">
        <div class="node-title" (click)="node.collapsed=!node.collapsed" >
          {{node.children.length ? (!node.collapsed?'-&nbsp;':'+') : '&nbsp;&nbsp;&nbsp;'}} &nbsp;&nbsp;&nbsp; {{node.text}} <span class="item-notes"> ({{node.children.length}}{{node.children.length?', expanded: ' + !node.collapsed:''}})</span>
        </div>

        <div *ngIf="!node.collapsed && node.children.length" class="node-children"
          cdkDropList [cdkDropListData]="node.children"
          [id]="node.id" [cdkDropListConnectedTo]="dropTocTargetIds"
          (cdkDropListDropped)="drop($event)"
          [cdkDropListSortingDisabled]="true">
          <div *ngFor="let child of node.children" cdkDrag [cdkDragData]="child.id" (cdkDragMoved)="dragMoved($event)">
            <ng-container *ngTemplateOutlet="tmplNode,context:{node:child}"></ng-container>
          </div>
        </div>
      </div>
    </ng-template>

    <div cdkDropList [cdkDropListData]="tocData"
      [id]="'main'" [cdkDropListConnectedTo]="dropTocTargetIds"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListSortingDisabled]="true">

      <div *ngFor="let node of tocData" cdkDrag [cdkDragData]="node.id" (cdkDragMoved)="dragMoved($event)">
        <ng-container *ngTemplateOutlet="tmplNode,context:{node:node}"></ng-container>
      </div>
    </div>
  </div>
</div>
<hr />
<p><strong>current drag drop action:</strong></p>
<pre>{{dropActionTodo|json}}</pre>
<hr />
<p><strong>tree data</strong></p>
<pre>{{tocData|json}}</pre>
