.tei-selector-container {
  display: flex;
  width: 100%;
}

.tei-selector-container app-git-grid {
  width: 33%;
}

.tei-selector-container app-xml-entity-selector-grid {
  width: 66%;
  position: fixed;
  right: 2rem;
}
