<!--p>
  facsimile-tool works!
</p>
<p>
  a. Show Image Collections
</p>
<p>
  b. Connect an Image Collection to a Publication
</p>
<p>
  c. Create a new Image Collection
</p>
<p>
  d. Upload Images to an Image Collection
</p>
<p>
  e. Edit an Image Collection
</p-->
<app-facsimile-collection-grid *ngIf="selectedComponentTool === 'Image-Collections'"></app-facsimile-collection-grid>
<div *ngIf="selectedComponentTool === 'Image-Connector'">
  <ion-item>
    <ion-label>1. Select Collection:</ion-label>
    <ion-select interface="action-sheet" placeholder="Select Collection" [(ngModel)]="collectionId"  [value]="selectedCollectionId" (ionChange)="setCollectionId($event)">
      <ion-select-option [value]=""></ion-select-option>
      <ion-select-option *ngFor="let coll of collections" [value]="coll['id']">{{coll['name']}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>2. Select Publication:</ion-label>
    <ion-select interface="action-sheet" placeholder="Select Publication" [(ngModel)]="publicationId"  [value]="selectedPublicationId" (ionChange)="setPublicationId($event)">
      <ion-select-option [value]=""></ion-select-option>
      <ion-select-option *ngFor="let coll of publications" [value]="coll['id']">{{coll['name']}}</ion-select-option>
    </ion-select>
  </ion-item>
   <ion-item *ngIf="selectedPublicationId">
    <ion-label>3. Create a new Facsimile Item (optional)</ion-label>
    <ion-button  (click)="openFacsimileCollectionModal()" >Add new Facsimile Item</ion-button>
  </ion-item>
  <app-facsimile-item-grid *ngIf="facsimilePublications !== undefined && facsimilePublications.length > 0"
  (onSelected)="selectFacsimilePublication($event)"
  [facsimileItems]="facsimilePublications"></app-facsimile-item-grid>
  <ion-item *ngIf="facsimilePublications !== undefined && facsimilePublications.length > 0">
    <ion-grid *ngIf="selectedFacsimile" class="facsimile-items">
      <ion-row>
        <ion-col>
          <div>
              <h4>Facsimiles</h4>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngFor="let image of facsimileImageUrls">
          <div class="facsimile_img">
            <ion-label slot="start">{{image.number}}</ion-label>
            <ion-thumbnail>
              <img src="{{image.url}}" alt="facsimile image"/>
            </ion-thumbnail>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</div>
<ion-item *ngIf="selectedFacsimile">
  <h4>Upload New Facsimiles:</h4>
</ion-item>
<app-facsimile-upload *ngIf="selectedFacsimile"
(onUploaded)="selectFacsimilePublication($event)"
[selectedFacsimileCollectionId]="selectedFacsimile.publication_facsimile_collection_id"
[imageStartNumber]="selectedFacsimile.first_page"></app-facsimile-upload>

