<!--p>
  facsimile-tool works!
</p>
<p>
  a. Show Image Collections
</p>
<p>
  b. Connect an Image Collection to a Publication
</p>
<p>
  c. Create a new Image Collection
</p>
<p>
  d. Upload Images to an Image Collection
</p>
<p>
  e. Edit an Image Collection
</p-->
<app-facsimile-collection-grid *ngIf="selectedComponentTool === 'Image-Collections'"></app-facsimile-collection-grid>
<div *ngIf="selectedComponentTool === 'Image-Connector'">
  <ion-item>
    <ion-label>1. Select Collection:</ion-label>
    <ion-select interface="action-sheet" placeholder="Select Collection" [(ngModel)]="collectionId"  [value]="selectedCollectionId" (ionChange)="setCollectionId($event)">
      <ion-select-option [value]=""></ion-select-option>
      <ion-select-option *ngFor="let coll of collections" [value]="coll['id']">{{coll['name']}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>2. Select Publication:</ion-label>
    <ion-select interface="action-sheet" placeholder="Select Publication" [(ngModel)]="publicationId"  [value]="selectedPublicationId" (ionChange)="setPublicationId($event)">
      <ion-select-option [value]=""></ion-select-option>
      <ion-select-option *ngFor="let coll of publications" [value]="coll['id']">{{coll['name']}}</ion-select-option>
    </ion-select>
  </ion-item>
   <ion-item *ngIf="selectedPublicationId">
    <ion-label>3. Create a new Facsimile Item (optional)</ion-label>
    <ion-button  (click)="openFacsimileCollectionModal()" >Add new Facsimile Item</ion-button>
  </ion-item>
  <app-facsimile-item-grid *ngIf="facsimilePublications !== undefined && facsimilePublications.length > 0"
  (onSelected)="selectFacsimilePublication($event)"
  [facsimileItems]="facsimilePublications"></app-facsimile-item-grid>
  <!--ion-item *ngIf="facsimilePublications !== undefined && facsimilePublications.length > 0"-->
    <!-- Check if we already have facsimiles connected -->
    <!--ion-grid class="facsimile-items">
      <ion-row>
        <ion-col>
          <div>
              <ion-label>4. Select Facsimile Item</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="facsimile-items-header">
        <ion-col>
          <div>
            <p>Title</p>
          </div>
        </ion-col>
         <ion-col>
          <div>
            <p>Pages</p>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <p>Total Pages</p>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <p>External URL</p>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <p>Type</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let facsimile of facsimilePublications" (click)="selectFacsimilePublication(facsimile)">
        <ion-col>
          <div>
            {{facsimile.title}}
          </div>
        </ion-col>
        <ion-col>
          <div>
            {{(facsimile.last_page - facsimile.first_page) + 1}}
          </div>
        </ion-col>
        <ion-col>
          <div>
            {{facsimile.number_of_pages}}
          </div>
        </ion-col>
        <ion-col>
          <div>
            {{facsimile.external_url}}
          </div>
        </ion-col>
        <ion-col *ngIf="facsimile.publication_manuscript_id !== null">
          <div>
            Manuscript
          </div>
        </ion-col>
        <ion-col *ngIf="facsimile.publication_version_id !== null">
          <div>
            Version
          </div>
        </ion-col>
        <ion-col *ngIf="facsimile.publication_manuscript_id === null && facsimile.publication_version_id === null">
          <div>
            Publication
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- if we dont have any connected facsimiles, ask to create one -->
  <!--/ion-item-->

  <!--ion-item>
    <ion-label>1. Facsimile Collection:</ion-label>
    <ion-select interface="action-sheet" placeholder="Select Facsimile Collection" [(ngModel)]="collectionId"  [value]="selectedFacsimileCollectionId" (ionChange)="setCollectionId($event)">
      <ion-select-option [value]=""></ion-select-option>
      <ion-select-option *ngFor="let fColl of facsimileCollections" [value]="fColl['id']">{{fColl['title']}}</ion-select-option>
    </ion-select>
  </ion-item-->
  <ion-item *ngIf="facsimilePublications !== undefined && facsimilePublications.length > 0">
    <ion-grid *ngIf="selectedFacsimile" class="facsimile-items">
      <ion-row>
        <ion-col>
          <div>
              <h4>Facsimiles</h4>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngFor="let image of facsimileImageUrls">
          <div class="facsimile_img">
            <ion-label slot="start">{{image.number}}</ion-label>
            <ion-thumbnail>
              <img src="{{image.url}}" alt="facsimile image"/>
            </ion-thumbnail>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</div>
<ion-item *ngIf="selectedFacsimile">
  <h4>Upload New Facsimiles:</h4>
</ion-item>
<app-facsimile-upload *ngIf="selectedFacsimile"
(onUploaded)="selectFacsimilePublication($event)"
[selectedFacsimileCollectionId]="selectedFacsimile.publication_facsimile_collection_id"
[imageStartNumber]="selectedFacsimile.first_page"></app-facsimile-upload>

