ion-content {
  --padding-top: 20%;
  --padding-start: 10%;
  --padding-end: 10%;
  --background: #f3f1ea;
}

.input-group {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}

.errors {
  font-size: small;
  color: #fff;
  background: var(--ion-color-danger);
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media only screen and (min-width: 1024px) {
  .login-main {
    width: 50%;
    height: auto;
    margin: auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 1rem;
  }
}
