<ion-app>
  <ion-split-pane contentId="main-content" >
    <ion-menu contentId="main-content" id="main-content-menu" type="overlay" *ngIf="isLoggedIn">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>{{ 'app.application-name' | translate }}</ion-list-header>
          <ion-note>{{ 'app.developer-email' | translate }}</ion-note>

          <ion-item>
            <ion-label>Project</ion-label>
            <ion-select placeholder="Select Project" [(ngModel)]="selectedProjectId" (ionChange)="selectProject()">
              <ion-select-option *ngFor="let project of projects" [value]="project.id">{{project.name}}</ion-select-option>
            </ion-select>
          </ion-item>

          <!--ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle-->
          <ion-list *ngFor="let page of appPages" lines="none" class="page-menu">
            <ion-item routerDirection="root" [routerLink]="[page.url]" lines="none" detail="false" routerLinkActive="selected" (click)="toggleIsOpen(page)">
              <ion-icon slot="start" [ios]="page.icon + '-outline'" [md]="page.icon + '-sharp'"></ion-icon>
              <ion-icon *ngIf="page.subPages && page.isOpen" slot="end" [ios]="'caret-down-outline'" [md]="'caret-down-sharp'"></ion-icon>
              <ion-icon *ngIf="page.subPages && !page.isOpen" slot="end" [ios]="'caret-forward-outline'" [md]="'caret-forward-sharp'"></ion-icon>
              <ion-label>{{ page.title }}</ion-label>
            </ion-item>
            <ion-list *ngIf = "page.subPages && page.isOpen" class="sub-menu-list">
              <ion-menu-toggle auto-hide="false" *ngFor="let subPage of page.subPages">
                <ion-item routerDirection="root" [routerLink]="[page.url, subPage.url]" lines="none" detail="false" routerLinkActive="selected">
                  <ion-icon slot="start" [ios]="subPage.icon + '-outline'" [md]="subPage.icon + '-sharp'"></ion-icon>
                  <ion-label>{{ subPage.title }}</ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>
          </ion-list>
        </ion-list>

        <ion-list id="labels-list">
          <ion-item lines="none" [routerLink]="" (click)="createProjectPopup()" detail="false" >
            <ion-icon slot="start" [ios]="'warning-outline'" [md]="'add-circle'"></ion-icon>
            <ion-label>{{ 'app.create-project' | translate }}</ion-label>
          </ion-item>
          <ion-item lines="none" [routerLink]="login" (click)="logout()" detail="false" >
            <ion-icon slot="start" [ios]="'warning-outline'" [md]="'warning-sharp'"></ion-icon>
            <ion-label>{{ 'app.logout' | translate }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
