<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!selectedComponentTool">{{ ('tool-selector.tools.' + selectedComponent) | translate }}</ion-title>
    <ion-title *ngIf="selectedComponentTool">{{ ('tool-selector.tools.' + selectedComponentTool) | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ selectedComponent }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <app-publisher-tool *ngIf="selectedComponent === 'Publisher-Tool'" [selectedComponentTool]="selectedComponentTool"></app-publisher-tool>
    <app-facsimile-tool *ngIf="selectedComponent === 'Facsimile-Tool'" [selectedComponentTool]="selectedComponentTool"></app-facsimile-tool>
    <app-toc-editor *ngIf="selectedComponent === 'TOC-Editor'"></app-toc-editor>
    <app-entity-editor *ngIf="selectedComponent === 'Entity-Editor'" [selectedComponentTool]="selectedComponentTool"></app-entity-editor>
    <app-event-editor *ngIf="selectedComponent === 'Event-Editor'"></app-event-editor>
    <app-tei-selector *ngIf="selectedComponent === 'TEI-Selector'"></app-tei-selector>
    <app-landing-page *ngIf="selectedComponent === 'Landing-Page'"></app-landing-page>
  </div>
</ion-content>
