
<div class="table-container">
  <div>
    <ion-button (click)="toggleNestedRows()" *ngIf="locationTable.getSettings().nestedRows">Hide translations</ion-button>
    <ion-button (click)="toggleNestedRows()" *ngIf="!locationTable.getSettings().nestedRows">Show translations</ion-button>
    <ion-button (click)="getLocations()">Reload data</ion-button>
    <div class="location-table">
      <div id="location_table" class="hot handsontable htRowHeaders htColumnHeaders location-table"></div>
    </div>
  </div>
  <div>
    <h1>Translations</h1>
    <ion-item>
      <ion-label>Language</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="selectedLanguage" (ionChange)="getLocations()">
        <ion-select-option value="not set">Placeholder</ion-select-option>
        <ion-select-option *ngFor="let language of iso639Languages | keyvalue" [value]="language.key">{{language.value}}</ion-select-option>
      </ion-select>
    </ion-item>
    <div class="translation-table">
      <div id="translation_table" class="hot handsontable htRowHeaders htColumnHeaders translation-table"></div>
    </div>
  </div>
</div>
